{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block MainFrame %}
    <div class="row">
        <div class="col-lg-9 col-md-9">
            {% block Content %}{% endblock %}
        </div>

        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs fixed-right" id="{{ navId|default('sidebar-nav') }}">
            <div class="inner">
                <div class="full-height">
                    <ul class="nav nav-list">
                        {% for label in QuickNavigation %}
                            <li>
                                <a href="#{{ label|cssSelector }}" data-scrollto="#{{ label|cssSelector }}" data-scrolloffset="70">{{ label }}</a>
                            </li>
                        {% endfor %}
                    </li>
                </ul>
                <a href="#" data-scrollto="0">Back to top</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block AdditionalScripts %}
<script src="{{ plugin_path('PlentyPluginShowcase') }}/js/vendor/prettify.min.js"></script>
<script src="{{ plugin_path('PlentyPluginShowcase') }}/js/dsgvo-script.js"></script>
<script src="{{ plugin_path('PlentyPluginShowcase') }}/js/scripts.js"></script>
{% endblock %}